// =============================================================================
// SOCIAL LINKS (Settings)
// =============================================================================

$socialLinks-iconSize:                  14px;

$socialLinks-alt-iconSize:              15px;
$socialLinks-alt-iconColor:             stencilColor("color-textSecondary");
