{{!-- Glass Product Card Component --}}
<article class="product-card--glass snap-center">
  <a href="{{url}}" class="card-link">
    {{#if image}}
      <img
        class="card-img lazyload"
        data-sizes="auto"
        src="{{cdn 'img/loading.svg'}}"
        data-src="{{getImage image 'product_size' (cdn 'img/ProductDefault.gif')}}"
        width="300" height="300"
        alt="{{name}}">
    {{else}}
      <img
        class="card-img"
        src="{{cdn 'img/ProductDefault.gif'}}"
        width="300" height="300"
        alt="{{name}}">
    {{/if}}
  </a>

  <h3 class="card-title">
    <a href="{{url}}">{{name}}</a>
  </h3>

  {{#or customer (unless settings.hide_price_from_guests)}}
    <div class="card-price">
      {{> components/products/price price=price}}
    </div>
  {{else}}
    <p class="card-price">{{lang 'common.login_for_pricing'}}</p>
  {{/or}}

  {{#if summary}}
    <p class="card-desc">{{summary}}</p>
  {{/if}}

  <div class="card-actions">
    {{#if show_cart_action}}
      {{#if has_options}}
        <a href="{{url}}" class="btn-glass">{{lang 'products.choose_options'}}</a>
      {{else if pre_order}}
        <a href="{{pre_order_add_to_cart_url}}" class="btn-glass">{{lang 'products.pre_order'}}</a>
      {{else if add_to_cart_url}}
        <a href="{{add_to_cart_url}}" class="btn-glass" data-button-type="add-cart">{{lang 'products.add_to_cart'}}</a>
      {{else if out_of_stock_message}}
        <a href="{{url}}" class="btn-glass btn-glass--disabled">{{out_of_stock_message}}</a>
      {{/if}}
    {{else}}
      <a href="{{url}}" class="btn-glass">View Details</a>
    {{/if}}
  </div>
</article>
